{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "APP_ENV": "local",
    "VISITOR_COUNTER_BACKEND": "table",
    "AZURE_TABLE_CONNECTION_STRING": "UseDevelopmentStorage=true",
    "AZURE_COSMOS_TABLE_NAME": "VisitorCounter",
    "COSMOS_PARTITION_KEY": "VisitorCounter",
    "COSMOS_ROW_KEY": "Global"
  }
}
